
body {
    color: #333333;
    font-family: 'Comfortaa', "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans";

}

.ativo {
    color: aqua;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

p {
    color: white;
}

#cabeçalho {

}

#principal {
    display: flex;
    background-color: black;
    color: white;

}

#principal img {
    padding: 5px;
    margin: 0px 10px 10px 0;
    
}
#lista {
    display: flex;
    justify-content: flex-end;
    margin: 0;

}

#back {
    background-image: url(../img/background.png);
    background-size: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#back p {
    align-items: center;
    border: 3px solid rgba(255, 255, 255, 0.4);
    width: 250px;
    height: 300px;
    

}

#final {

}

#estartando {

}

#icones {

}